/*** SIDEBAR ELEMENTS ***/
.logo-title {
    display: flex;
    align-items: center;
    padding: 15px 0;
}

.logo-title i {
    font-size: 1.5rem;
    color: #151947;
    margin-right: 8px;
}

h1 {
    font-size: 1.7rem;
    text-transform: uppercase;
    color: #151947;
    text-align: center;
    margin-bottom: 10px;
}

/* Form */
.add-task {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    width: 85%;
}

.taskForm {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.taskForm label {
    font-size: 0.85rem;
    font-weight: 700;
    margin-bottom: 5px;
}

.taskForm input {
    border-radius: 50px;
    border: 1px solid #151947;
    padding: 5px 10px;
    font-size: 0.85rem;
}

#category {
    border-radius: 50px;
    border: 1px solid #151947;
    padding: 5px 10px;
    font-size: 0.85rem;
    margin-top: 8px;
}

#taskFormError{
    color: #CB5258;
    margin: 5px 0;
}

.taskForm button {
    width: fit-content;
    align-self: center;
    background-color: #151947;
    color: #fff;
    border-radius: 50px;
    border: none;
    padding: 10px 35px;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.2s ease;
}

.taskForm button:hover {
    color: #151947;
    border: 2px solid #151947;
    background-color: #fff;
    transition: all 0.2s ease;
}

/* Buttons */

.btn-container {
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    width: 85%;
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.btn-container button {
    width: fit-content;
    background-color: #fff;
    color: #151947;
    border-radius: 50px;
    border: 2px solid #151947;
    padding: 8px 16px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.8rem;
    letter-spacing: 0.5px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.btn-container button:hover {
    background-color: #151947;
    color: #fff;
    transition: all 0.2s ease;
}

/* Stats */
#countPendingTasks {
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    margin: 10px 0;
    width: 85%;
    line-height: 0.9;
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

/*** CARDS ***/
.cards-container {
    display: block;
    margin-left: 380px;
    padding: 40px 20px;
}

#searchTask {
    width: 100%;
    padding: 8px 0;
    border: 1px solid #ccc;
    font-size: 0.9rem;
    border-radius: 50px;
    border: 1px solid #151947;
    padding: 5px 10px;
}

#searchTask:hover {
    outline: none;
    box-shadow: 0 0 0 2px rgba(21, 25, 71, 0.25);
}

.clear-search {
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.search-wrapper input:not(:placeholder-shown) + .clear-search {
    opacity: 1;
}

#taskListUl {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 14px;
    max-width: 900px;
}

/* TASK CARD */
.task-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    align-items: center;
    gap: 16px;
    background-color: #fff;
    border-radius: 12px;
    padding: 14px 18px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
    transition: all 0.2s ease;
}

.task-item:hover {
    transform: scale(1.02);;
    box-shadow: 0 6px 14px rgba(0,0,0,0.12);
    transition: all 0.2s ease;
}

/* COMPLETED */
.task-item.completed {
    opacity: 0.65;
}

.task-item.completed .task-title {
    text-decoration: line-through;
}

/* LEFT */
.task-header {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.task-title {
    font-size: 1rem;
    font-weight: 600;
}

.task-meta {
    font-size: 0.75rem;
    opacity: 0.7;
}

.task-meta {
    font-size: 0.75rem;
    opacity: 0.8;
}
.task-meta {
    font-size: 0.75rem;
    opacity: 0.7;
}

/* CATEGORY */
.task-item.work {
    border-bottom: 8px solid #f4a261;
}
.task-item.personal {
    border-bottom: 8px solid #2a9d8f;
}
.task-item.study {
    border-bottom: 8px solid #457b9d;
}

/* ACTIONS */
.task-actions {
    display: flex;
    gap: 10px;
}

.task-actions button {
    background-color: #fff;
    color: #151947;
    border-radius: 50px;
    border: 2px solid #151947;
    padding: 8px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all 0.2s ease;
}

.task-actions button:hover {
    background-color: #151947;
    color: #fff;
    transition: all 0.2s ease;
}

.no-tasks {
    text-align: center;
    font-style: italic;
    color: #555;
}

/*** RESPONSIVO ***/
@media (max-width: 900px) {
    main {
        flex-direction: column;
    }

    .sidebar {
        position: relative;
        width: 100%;
        height: auto;
    }

    .btn-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .btn-container button {
        margin-bottom: 10px;
    }

    .cards-container {
        width: 100%;
        margin-left: 0;
        justify-content: center;
        padding: 20px 12px;
    }

    #container {
        justify-content: center;
    }

    .task-item {
        width: 90%;
    }
}
